* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.light-mode {
    --text-color: #85e7ff;
    --heading-color: #002452;
    --sub-heading-color: #001938;
    --text-light: #0a152b;
    --entry-color: #ffffff;
}

.dark-mode {
    background-color: black;
    --text-color: #7A1800;
    --heading-color: #FFDBAD;
    --sub-heading-color: #dabc95;
    --text-light: #F5EAD4;
    --entry-color: #000000;
}

header {
    background-color: var(--entry-color);
}

nav a {
    background-color: var(--heading-color);
    color: var(--entry-color);
    margin: 10px;
    text-decoration: none;
    font-size: large;
}



main {
    display: grid;
}



h1 {
    color: var(--text-light);
    text-align: center;
}

footer {
    background-color: var(--heading-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    text-align: center;

    justify-content: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    gap: 16px;
    /* Optional: adds space between cards */
    padding: 16px;
    /* Optional: adds space around the grid */
    box-shadow: 0 0 30px gray;

    section {
        display: grid;
        gap: 8px;
        background-color: #b9b9cc;
        margin: 2px;
        border: 1px solid #454592;
        padding: 1rem;
        width: fit-content;
        overflow: hidden;
    }

    div {
        display: flex;
        flex: auto;
        flex-direction: column;
        align-content: flex-end;
    }

    img {
        display: flex;
        flex: 0 0 25%;
        width: 64px;
        height: 64px;
        border: 1px solid rgb(0 0 0 / 0%);
        align-items: flex-start;
    }

    h2 {
        text-decoration: underline;
    }

}

#compact {
    display: flex;
    flex-direction: column;

    section {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0.25rem;
        width: 100%;

        &>* {
            margin: 0 1rem;
        }

        img {
            display: none;
        }

        h2 {
            flex: 0 0 25%;
            /* Fixed width for the name */
            font-size: 1rem;
            text-align: left;
        }


        div {
            display: flex;
            flex-direction: row;
        }

        #email {
            flex: 1;
            display: flex;
            white-space: nowrap;
        }

        #phone,
        #URL {
            flex: 1;
            display: flex;
            white-space: nowrap;
        }

        &:nth-child(even) {
            background-color: #bbb;
        }
    }
}

#mode-toggle {
    border: none;
    background: none;
}

#mode-toggle img {
    width: auto;
    height: 30px;

}


.toggles {
    display: flex;
    margin-left: auto;
}

.toggles a {
    display: none;
}

.bar {
    display: none;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--sub-heading-color);
    color: var(--text-color);
    align-items: center;
}

.bar a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-right: 10px;
    background-color: var(--sub-heading-color);
    color: var(--text-color);
}

.bar a:hover {
    background-color: var(--heading-color);
}

.bar.open {
    display: flex;
}

.logo {
    display: flex;
    background-color: var(--heading-color);
    display: flex;
    padding: 5px;
    align-items: center;
}

.logo a {
    color: var(--text-color);
    text-decoration: none;
}

.logo img {

    background-color: var(--heading-color);
    width: 35px;
    max-height: fit-content;
}

.dark-mode .logo img {
    filter: invert(1);
}


.logo span {
    padding-left: 16px;
}

.active {
    border-bottom: 2px solid var(--text-color);
}

.socialmedia {
    display: flex;
    justify-content: center;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    color: var(--entry-color);
    max-width: 100px;
    max-height: fit-content;
}

.dark-mode .socialmedia img {
    filter: invert(1);
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: var(--entry-color);
    padding-left: 8px;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

#footer-left {
    display: flex;
    flex-direction: column;
}

#footer-right {
    display: flex;
    flex-direction: column;
}