* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.light-mode {
    --text-color: #85e7ff;
    --heading-color: #002452;
    --sub-heading-color: #001938;
    --text-light: #0a152b;
    --entry-color: #ffffff;
}

.dark-mode {
    background-color: black;
    --text-color: #7A1800;
    --heading-color: #FFDBAD;
    --sub-heading-color: #dabc95;
    --text-light: #F5EAD4;
    --entry-color: #000000;
}

header {
    background-color: var(--entry-color);
}

nav a {
    background-color: var(--heading-color);
    color: var(--entry-color);
    margin: 10px;
    text-decoration: none;
    font-size: large;
}


/*Form Styling for Join Page*/
form {
    margin: 1rem 2%;
    width: 25%;

}

form fieldset {
    display: block;
    border: 10px solid var(--heading-color);
    border-radius: 5%;
    background-color: var(--sub-heading-color);
    color: var(--text-color);
    font-size: .8rem;
    padding-top: .2rem;
    padding-left: .4rem;
}

form h3 {
    font-size: .9rem;
    color: #E07A5F;
    margin: 1.5rem 0 .2rem 0;
    border-bottom: 1px solid #eee;
}

form input[type=text],
form input[type=tel],
form input[type=date],
form input[type=email] {
    display: block;
    margin: .1rem 0 1rem 0;
    padding: .3rem;
    border: 1px solid #999;
    border-radius: 4px;
    border-left-width: 5px;
    border-left-color: #555;
    font-size: 1rem;
    color: #3D405B;
    width: 250px;
}

form input:required {
    border-left-color: #d70000;
}

form input:focus {
    border-left-color: black;
    outline: none;
}

form input:required:valid {
    border-left-color: green;
}

form textarea {
    resize: vertical;
    width: 75%;
    height: 100px;
    margin-bottom: 2%;
}

form button {
    width: 100%;
    margin-top: 2%;
}

.rad-member {
    display: flex;
    flex-direction: column;
}

.levels {
    position: absolute;
    top: 20%;
    right: 10%;

}


.levels div {
    text-align: center;
    margin-top: 5%;
    border: 5px solid var(--heading-color);
    border-radius: 5%;
    background-color: var(--sub-heading-color);
    color: var(--text-color);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.levels div:hover {
    transform: translateY(-5px);
}

.thankyou {
    margin: 25px;
    text-align: center;
    border-radius: 6px;
    background-color: var(--sub-heading-color);
    color: var(--entry-color);
    padding-bottom: 15px;

}

#results {
    text-align: left;
    padding: 0 1rem;
    border: 1px solid rgb(23, 53, 53);
    border-radius: 6px;
    width: 80%;
    margin: 2em auto;
    background-color: var(--heading-color);
}

#results p:first-child {
    margin-top: 15px;
}

#results p:last-child {
    margin-bottom: 15px;
}

#results p {
    margin: 0 1em .5em 1em;
    color: var(--text-color);
}

/*End Form Styling for Form Page*/

button {
    background-color: var(--sub-heading-color);
    color: var(--text-color);
    border-radius: 15px;
    width: 30%;
    height: 50px;
    font-size: large;
    justify-content: space-around;
}

h1 {
    color: var(--text-light);
    text-align: center;
}

footer {
    background-color: var(--heading-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}



.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    gap: 16px;
    /* Optional: adds space between cards */
    padding: 16px;
    /* Optional: adds space around the grid */
    box-shadow: 0 0 30px gray;

}

.home .business:nth-child(n+4) {
    display: none;
}

.home button {
    display: none;
}


.front {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin: 16px;
}



.cards section {
    display: grid;
    gap: 8px;
    background-color: #b9b9cc;
    margin: 2px;
    border: 1px solid #454592;
    padding: 1rem;
    width: fit-content;
    overflow: hidden;
}

.cards div {
    display: flex;
}

.contacts {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-content: flex-end;
}


.cards img {
    display: flex;
    flex: 0 0 25%;
    width: 64px;
    height: 64px;
    border: 1px solid rgb(0 0 0 / 0%);
    align-items: flex-start;
}

.cards h2 {
    text-decoration: underline;
}


#list-view {
    justify-self: center;
    margin-bottom: 16px;
}

#calendar {
    display: block;
    flex: 3;
    color: var(--text-color);
    background-color: var(--sub-heading-color);
}

#today,
#three {
    display: block;
    flex: 1;
    color: var(--text-color);
    background-color: var(--sub-heading-color);
}

#calendar h2,
#today h2,
#three h2 {
    color: var(--text-color);
    background-color: var(--heading-color);
}

#weather {
    display: flex;
    flex: 1;
}

#weather-icon {
    display: flex;
    height: 80px;
    width: 80px;
    margin-right: 5%;
}

#weather-icon div {
    display: flex;
    flex: 1;
}

#compact div {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-content: flex-end;
}


#compact {
    display: flex;
    flex-direction: column;
}

#compact section {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0.25rem;
}

#compact img {
    display: none;
}

#compact h2 {
    flex: 0 0 25%;
    /* Fixed width for the name */
    font-size: 1rem;
    text-align: left;
}


#compact .email {
    flex: 1;
    display: flex;
    white-space: nowrap;
}

#compact .phone,
#compact .URL {
    flex: 1;
    display: flex;
    white-space: nowrap;
}






#mode-toggle {
    border: none;
    background: none;
}

#mode-toggle img {
    width: auto;
    height: 30px;

}


.toggles {
    display: flex;
    margin-left: auto;
}

.toggles a {
    display: none;
}

.bar {
    display: none;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--sub-heading-color);
    color: var(--text-color);
    align-items: center;
}

.bar a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-right: 10px;
    background-color: var(--sub-heading-color);
    color: var(--text-color);
}

.bar a:hover {
    background-color: var(--heading-color);
}

.bar.open {
    display: flex;
}

.logo {
    display: flex;
    background-color: var(--heading-color);
    display: flex;
    padding: 5px;
    align-items: center;
}

.logo a {
    color: var(--text-color);
    text-decoration: none;
}

.logo img {

    background-color: var(--heading-color);
    width: 35px;
    max-height: fit-content;
}

.dark-mode .logo img {
    filter: invert(1);
}


.logo span {
    padding-left: 16px;
}

.active {
    border-bottom: 2px solid var(--text-color);
}

.socialmedia {
    display: flex;
    justify-content: center;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    color: var(--entry-color);
    max-width: 100px;
    max-height: fit-content;
}

.dark-mode .socialmedia img {
    filter: invert(1);
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: var(--entry-color);
    padding-left: 8px;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

#footer-left {
    display: flex;
    flex-direction: column;
}

#footer-right {
    display: flex;
    flex-direction: column;
}