* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
}


nav {
    color: black;
}

nav a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: large;
}



main {
    display: grid;
}

section {
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 8px;
    background-color: #b9b9cc;
    margin: 2px;
    border: 1px solid #454592;
    padding: 1rem;
    width: fit-content;
    overflow: hidden;
}

h1,
h2 {
    color: #454592;
    text-align: center;
}

section img {
    width: 340px;
    height: 440px;
    border: 1px solid rgb(0 0 0 / 0%);

}

footer {
    display: flex;
    justify-content: space-between;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    gap: 8px;
    /* Optional: adds space between cards */
    padding: 16px;
    /* Optional: adds space around the grid */
    box-shadow: 0 0 30px gray;

}

#mode-toggle {
    border: none;
    background: none;
}

#mode-toggle img {
    width: auto;
    height: 30px;

}

#mode-toggle:hover img,
.logo img:hover {
    background-color: grey;
}

.bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
    background-color: black;
    color: white;
}

.bar a {
    text-decoration: none;
    padding-right: 10px;
    color: white;
}



.logo {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    display: flex;
    padding: 5px;
    align-items: center;
}

.logo a {
    color: white;
    text-decoration: none;
}

.logo img {
    color: white;
    width: 35px;
    max-height: fit-content;
}


.logo span {
    padding-left: 16px;
}

.active {
    text-decoration: underline;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    max-width: 100px;
    max-height: fit-content;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: white;
    padding-left: 8px;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}