@media (min-width: 1000px) {

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /*Class Rules Below*/

    .toggles a {
        display: flex;
        margin-right: 16px;
    }

    .toggles a:hover {
        background-color: #011b3d;
    }

    .bar {
        display: none;
    }

    .bar.open {
        display: none;
    }






    .socialmedia {
        display: flex;
        justify-self: center;
        width: 310px;
    }

    .socialmedia a {
        text-decoration: none;
    }

    .socialmedia img {
        max-width: 100px;
        max-height: fit-content;
    }

    #course-cert {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 10px;
    }


    #course-cert li {
        background-color: orange;
        color: black;
        border-radius: 15px;
        height: 50px;
        width: 30%;
        font-size: large;
        align-content: center;
    }

    /*End of Class Rules*/

    /*Start of ID Rules*/

    #menu {
        display: none;
    }

    #footer-left {
        display: flex;
        flex-direction: column;
        width: 300px;
    }

    #footer-right {
        display: flex;
        flex-direction: column;
        width: 300px;
    }

    /*End of ID Rules*/

}