* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*base*/
    --title-bar-color: #14152a;

    --base-background-color: #303049;
    --base-text-color: #ffffff;

    /*code block colors*/
    --desc-box-color: #a6a4d6;
    --code-box-color: #171830;
    --code-border-color: #5c5882;

    --keyword-color: #8CD175;
    --value-color: #D29A79;
    --name-color: #66ADCC;
    --secondary-text-color: #A5A5BB;

    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: var(--base-background-color);
    color: var(--base-text-color);
}

header,
footer {
    background-color: var(--title-bar-color);
    color: var(--secondary-text-color);
}

header nav div {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

main div {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 24px;
}

h1,
h2,
h3 {
    margin-left: 2%;
}


iframe {
    width: 100%;
    /* Make the iframe take the full width of the container */
    border: none;
    /* Remove default border */
    height: auto;
    /* Auto height */
    min-height: 400px;
    /* Minimum height to avoid being too small */
}



ul,
.border-box p span {
    margin-left: 5%;
}


header nav a,
footer a {
    color: var(--secondary-text-color);
    text-decoration: none;
}

footer {
    text-align: center;
}

::backdrop {
    background-color: rgb(0 0 0 / 50%);
}

/*Class Declarations*/

.keyword {
    color: var(--keyword-color);
    /* Color for keywords */
    font-weight: bold;
    margin-right: 5px;
}

.value {
    color: var(--value-color);
    /* Color for values */
    margin-right: 5px;
}

.name {
    color: var(--name-color);
    /* Color for names */
    margin-right: 5px;
}

.text {
    color: var(--text-color);
    /* Color for basic text */
    margin-right: 5px;
}

.special {
    margin: -5px;
}



.toggles {
    display: flex;
    margin-left: auto;
}

.toggles a {
    display: none;
}

.bar {
    display: none;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--sub-heading-color);
    color: var(--text-color);
    align-items: center;
}

.bar a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-right: 10px;
    background-color: var(--sub-heading-color);
    color: var(--text-color);
}

.bar a:hover {
    background-color: var(--heading-color);
}

.bar.open {
    display: flex;
}

.active {
    border-bottom: 2px solid var(--secondary-text-color);
}

.slice {
    display: flex;
    flex-direction: column;
}

.border-box {
    background-color: var(--code-border-color);
    align-self: center;
    padding: 10px;
    margin: 1%;
    width: 130%;
}

.desc {
    background-color: var(--desc-box-color);
    color: black;
}

.desc img {
    width: 50%;
    height: auto;
    align-self: center;
}

.code {
    background-color: var(--code-box-color);
    width: 100%;
    overflow-y: auto;
    height: 405px;
}

.code span {
    transform: scale(.4);
    transform-origin: 0 0;
}

.socialmedia {
    display: flex;
    justify-content: center;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    max-width: 100px;
    max-height: fit-content;
    filter: invert(1);
}

/*ID Declarations*/

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: var(--base-text-color);
    padding-left: 8px;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

/*Form Styling for Join Page*/

dialog {
    background-color: var(--base-background-color);
    color: var(--base-text-color);
    border: none;
    border-radius: 5%;
    justify-self: center;
    align-self: center;
}

#last-visit {
    text-align: center;
}

.closeModal {
    position: absolute;
    right: 25px;
    top: 60px;
    background-color: transparent;
    border: none;
}

.closeModal::before {
    font-size: 1.5rem;
    padding: 8px;
    content: "❌";
}


form {
    margin: 1rem 2%;
    width: 95%;
}

form fieldset {
    display: block;
    border: 10px solid var(--title-bar-color);
    border-radius: 5%;
    background-color: var(--base-background-color);
    color: var(--base-text-color);
    font-size: .8rem;
    padding-top: .2rem;
    padding-left: .4rem;
}

form h3 {
    font-size: .9rem;
    color: #E07A5F;
    margin: 1.5rem 0 .2rem 0;
    border-bottom: 1px solid #eee;
}

form input[type=text],
form input[type=tel],
form input[type=date],
form input[type=email] {
    display: block;
    margin: .1rem 0 1rem 0;
    padding: .3rem;
    border: 1px solid #999;
    border-radius: 4px;
    border-left-width: 5px;
    border-left-color: #555;
    font-size: 1rem;
    color: #3D405B;
    width: 200px;
}

form input[type=radio] {
    font-size: 24px
}

form input:required {
    border-left-color: #d70000;
}

form input:focus {
    border-left-color: black;
    outline: none;
}

form input:required:valid {
    border-left-color: green;
}

form textarea {
    resize: vertical;
    width: 75%;
    height: 100px;
    margin-bottom: 2%;
}

.submit {
    width: 85%;
    margin-top: 2%;
}

/*Form Styling for Join Page end*/