* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: large;
}

h1 {
    margin-left: 10px;
}

h2 {
    background-color: black;
    color: white;
    text-align: center;
}

footer {
    text-align: center;
}


/*Class Rules Below*/

.logo {
    display: flex;
    padding: 5px;
    align-items: center;
}

.logo a {
    text-decoration: none;
}

.logo img {
    width: 35px;
    max-height: fit-content;
}

.bar {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: darkgrey;
}

.bar a:hover {
    background-color: blue;
}

.flex-contain {
    display: flex;
    flex-direction: row;
}

.life {
    width: 70%;
    margin-right: 15px;

}

.life p {
    margin-left: 10px;
}

.face {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-bottom: 10px;
    justify-content: center;
}

.face h2 {
    margin-bottom: 10px;
}

.face img {
    display: block;
    margin: auto;
    border: 10px solid grey;
    border-radius: 15px;
    width: 300px;
    height: auto;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    padding: 8px;
    max-width: 120px;
    max-height: fit-content;
}


/*End of Class Rules*/