* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;

}

nav a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: large;
}

nav a:hover {
    background-color: grey;
}

h1 {
    margin-left: 10px;
}

h2 {
    background-color: black;
    color: white;
    text-align: center;
}

footer {
    text-align: center;
}


/*Class Rules Below*/

.logo {
    display: flex;
    padding: 5px;
    align-items: center;
}

.logo a {
    text-decoration: none;
}

.logo img {
    width: 35px;
    max-height: fit-content;
}

.life {
    display: inline-block;
    width: 70%;
    margin: 15px;
}

.face {
    display: inline-block;

    width: 25%;
    background-color: grey;
}

.face img {
    background-color: grey;
    border-radius: 15px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    padding: 8px;
    max-width: 120px;
    max-height: fit-content;
}


/*End of Class Rules*/