* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2,
nav {
    background-color: black;
    color: white;

}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    background-color: grey;
}